<!-- views/partials/footer.ejs -->
<footer class="site-footer">
    <div class="container">
        <div class="subscribe-form">
            <form action="#">
                <label for="#">
                    <span>Do you want to get news?</span>
                    <span>Join our news letter</span>
                </label>
                <div class="control">
                    <input type="text" placeholder="Enter your email to subscribe...">
                    <button type="submit"><img src="images/icon-envelope.png" alt=""></button>
                                            </form>
                </div>
        </div>
        <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="copy">
            <p>Copyright 2020</p>
        </div>
    </div>
</footer> <!-- .site-footer -->