<header class="site-header ">
    <div class="container">
        <a href="index.html" id="branding">
            <img src="images/logo.png" alt="Company Name" class="logo">
            <div class="branding-copy">
                <h1 class="site-title">Nigerian Bar Association Suleja</h1>
                <small class="site-description">promoting the rule of law</small>
            </div>
        </a>

        <nav class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
                <li class="menu-item"><a href="about.html">About Us</a></li>
                <li class="menu-item"><a href="Search.html">Find a Lawyer</a></li>
                <li class="menu-item"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <nav class="mobile-navigation"></nav>
    </div>
</header> <!-- .site-header -->