<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Find a Lawyer</title>
		
		<!-- Loading third party fonts -->
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="fonts/novecento-font/novecento-font.css" rel="stylesheet" >

		<!-- Loading main css file -->
		<link href="style.css" rel="stylesheet" >
		<!--website logo icon-->
		<link rel="icon" href="/images/favicon.png">
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

		<%- include('partials/head')%>
	</head>


	<body>
			<%- include('partials/header')%>
		
		<div id="site-content">
			

			<main class="main-content">
				<div class="hero">
					<div class="container">
						<div class="row">
							<div class="subscribe-form">
                                <form action="#">
                                    <label for="#">
                                        <span>Find a Lawyer</span>
                                    </label>
                                    <div class="control">
                                        <input type="text" class="input" placeholder="Search Name or Enrollment Number...">
                                        <button type="submit"><img src="images/icon-user.png" alt=""></button>
                                                                </form>
                                    </div>
                            </div>
						</div>
					</div>
				</div> <!-- .hero-slider -->
			<div class="result">
				<h2>search results: </h2>
			</div>
				<div class="container courses-container ">
					<div class="course">
						<div class="course-preview">
							<img class="d-block w-100 " src="/dummy/person-1.png" alt="" style="width: 150px;border-radius: 50%;" ></a>
						</div>
						<div class="course-info">
							
							<h3>Name Surname</h3>
							<h6>Enrollment no: <span>SCN030835</span></h6>
							<h6>Called Up In The Year :<span> 2018</span></h6>
							<p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta maiores animi 
								sint, eius iusto cumque asperiores officiis corrupti corporis molestias, distinctio
								 reprehenderit adipisci beatae. Assumenda dolores minima ad dolore quia?</em></p>

						</div>
					</div>
				</div>
				<div class="container courses-container ">
					<div class="course">
						<div class="course-preview">
							<img class="d-block w-100 " src="/dummy/person-2.png" alt="" style="width: 150px;border-radius: 50%;" ></a>
						</div>
						<div class="course-info">
							
							<h3>Name Surname</h3>
							<h6>Enrollment no: <span>SCN030835</span></h6>
							<h6>Called Up In The Year :<span> 2018</span></h6>
							<p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta maiores animi 
								sint, eius iusto cumque asperiores officiis corrupti corporis molestias, distinctio
								 reprehenderit adipisci beatae. Assumenda dolores minima ad dolore quia?</em></p>

						</div>
					</div>
				</div>
				<div class="container courses-container ">
					<div class="course">
						<div class="course-preview">
							<img class="d-block w-100 " src="/dummy/person-3.png" alt="" style="width: 150px;border-radius: 50%;" ></a>
						</div>
						<div class="course-info">
							
							<h3>Name Surname</h3>
							<h6>Enrollment no: <span>SCN030835</span></h6>
							<h6>Called Up In The Year :<span> 2018</span></h6>
							<p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta maiores animi 
								sint, eius iusto cumque asperiores officiis corrupti corporis molestias, distinctio
								 reprehenderit adipisci beatae. Assumenda dolores minima ad dolore quia?</em></p>

						</div>
					</div>
				</div>
				   <br>
				  <br>
				   
			</main> <!-- .main-content -->

			<%- include('partials/footer') %>
		</div> <!-- #site-content -->

		

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>